states: [Idle, WaitingSignal, Grabbing, Inspecting, Routing, Error]
triggers: [Start, SignalRead, InspectFrame, Pass, Fail, Reset]

transitions:
  - from: Idle
    trigger: Start
    to: Grabbing
    onEnter: [Plc.LampOn, Plc.SubscribeRead, Camera.Prepare]

  - from: Grabbing
    trigger: SignalRead
    to: Inspecting
    onEnter: [Camera.CaptureFrame, Grpc.ProcessImage]

  - from: Inspecting
    trigger: Pass
    to: Routing
    onEnter: [Plc.SendPass]

  - from: Inspecting
    trigger: Fail
    to: Routing
    onEnter: [Plc.SendFail]

  - from: Routing
    trigger: Reset
    to: WaitingSignal

autoTriggers:
  - when: Context.FinalLabel == false
    emit: Pass
    allowedFrom: [Inspecting]
  - when: Context.FinalLabel == true
    emit: Fail
    allowedFrom: [Inspecting]
